<div class="container">
  <input type="text"
         class="form-control"
         placeholder="Type title"
          [(ngModel)] = "title">
  <input type="text"
         class="form-control"
         placeholder="Type date"
          [(ngModel)] = "date">
  <button class="btn btn-success"
          (click)="add()"
          [disabled]="title.length < 4 || date.length < 4">Add</button>
  <hr>
  <ul class="list-group" *ngIf="arr.length > 0; else refEmptyList">
    <li class="list-group-item" *ngFor="let item of arr; let i = index"
    [ngStyle]="{backgroundColor:i%2==0 ? 'transparent':'grey'}">
      <span [ngClass]="{removed:i == rmIndex}">{{item.title}} - {{item.date}}</span>
      <button class="btn btn-danger float-right"
      (click)="remove(i)">Remove</button>
    </li>
  </ul>
  <ng-template #refEmptyList>
    <p>List empty</p>
  </ng-template>

</div>
